<header>
  <!--<div>
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{exact: true}">
      <h3 class="float-md-start"><img src="/img/logo_bg_blue.png" style="width: 200px" /></h3>
    </a>
    <nav class="nav nav-masthead justify-content-center float-md-end ">
      <a class="nav-link fw-bold py-1 px-0" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="nav-link fw-bold py-1 px-0" routerLink="/imprint" routerLinkActive="active" ariaCurrentWhenActive="page">Imprint</a>
      <a class="nav-link fw-bold py-1 px-0" routerLink="/privacy" routerLinkActive="active" ariaCurrentWhenActive="page">Privacy</a>
    </nav>
  </div>-->

  <nav class="navbar navbar-expand-lg navbar-dark fixed-top pt-3" style="background-color: #3d45a3;">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="/img/logo_bg_blue.png" style="width: 200px" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="#" (click)="scrollTo('home')">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#" (click)="scrollTo('angebot')">Angebot</a></li>
          <li class="nav-item"><a class="nav-link" href="#" (click)="scrollTo('projekte')">Projekte</a></li>
          <li class="nav-item"><a class="nav-link" href="#" (click)="scrollTo('kontakt')">Kontakt</a></li>
          <li class="nav-item"><a class="nav-link" href="#" (click)="scrollTo('ueber-mich')">Über mich</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

