<main class="px-3">
  <h1>Wir entwickeln Software</h1>
  <p class="lead">Blausicht GmbH ist eine Firma aus der Schweiz mit Fokus auf IT-Dienstleistungen im Bereich der Software Entwicklung und des IT-Projektmanagements auf Contracting Basis.</p>
  <p class="lead pt-3">
    <!--<a routerLink="/" class="btn btn-lg btn-light fw-bold border-white bg-white">to be continued soon!</a>-->
    <a href="mailto:contact&#64;rigidbody-games.ch">kevin&#64;blausicht.ch</a><br />+41 79 349 76 72
  </p>
</main>
